.container-fluid{background-color: rgb(0, 0, 0);
}

.carousel-indicators img{
    width:100% ;
    height: auto;
}


.nav-item{
    text-align: left;
}

.bi{
    font-size: 50px;
     color: rgb(255, 255, 255);
     
    
}

.varita{
   color:rgb(219, 165, 15);
   font-size: 4em;
}

.verificado{
    color: rgb(219, 165, 15);
    font-size: 4em;
}

.casita{
    color: rgb(219, 165, 15);
    font-size: 4em;
}

.fueguito{
    color: rgb(219, 165, 15);
    font-size: 4em;
}

.col{
    color: rgb(255, 255, 255);
}

.containerCarrussel{
    padding-top: 5%;
}



h2{
    color: rgb(231, 166, 105); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 150px; font-size: 5em; text-align: center;
}

    

   
    .opcionesMenu{
     font-size: 0px; 
     
    }
/*Coloresdelmenú*/
    .coloresMenu{
        color: orange;
        font-size: 25px; 
        
    }
    

    .textodelBody{
        padding-top: 3%;
    }



body{
    background-color: black; font-size: 25px;
    font-family: font-family: 'Roboto', sans-serif;
    
}

.textoyContenido{
    padding-top: 2% ;
    padding-bottom: 1%;
    background-color: black;
}

.card-text{
    color: white;
    padding-bottom: 5%;
}
.textoTarjeta{
    color: black;
}


/* Cambiar el tamaño de la letra de todos los elementos dentro del formulario */
.form-control,
label,
.form-check-label,
.btn {
    font-size: 25px; 
    color: rgb(2, 0, 0);

}


/*contenedor del formulario */
.container-sm {
    background-color: #000000; 
    padding: 20px; 
    border-radius: 10px; 
}

.btn-primary{
    background-color: black;
    border-radius: 30px;
    border-color: orange;
}

.btn-secondary{
    background-color: black;
    border-radius: 30px;
    border-color: orange;}
.cuadrodelMensaje{
    padding-bottom: 2%;
}
.bi-whatsapp{
    font-size: 30px;
}

/* Estilo para el footer */
.container-footer {
    background-color: #777;
    padding: 20px 0; 
    color: rgb(87, 85, 85); 
}

/* Estilo para el texto del footer */
.texto-footer {
    margin-bottom: 0px;
    font-size: 25px; 
}

/* Estilo para las redes sociales */
.list-inline {
    margin-top: 0px; 
}

/* Estilo para la clase siguenos */
.siguenos{
    font-size: 25px; 
}

/* Estilos generales */

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    /* Otros estilos específicos para dispositivos móviles */

    #tarjetaprofesionales h2 {
        font-size: 3rem; 
        margin-bottom: 15px;
        margin-right: 30px; 
        
    }

    @media only screen and (max-width: 768px) {
        #tarjetaprofesionales .row {
            flex-direction: column;
            align-items: center;
            margin-left: 45px;
        }
    
        #tarjetaprofesionales .col {
            width: 100%; 
            margin-bottom: 20px; 
        }
    }
}

@media only screen and (max-width: 768px) {
    #contenido .row {
        flex-direction: column;
        align-items: center;
    }

    #contenido .col-sm-4 {
        width: 80%; /* Opcional: para que las columnas ocupen todo el ancho disponible */
        margin-bottom: 20px; /* Ajusta el margen inferior según tus necesidades */
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    #menu .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu .navbar-brand img {
        width: auto; /* Ajusta el tamaño de la imagen según sea necesario */
        height: 50px; /* Ajusta la altura de la imagen según sea necesario */
    }
}